@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: var(--bg-color);

}

select {
    position: absolute;
    margin: 3px;
    top: 0px;
    left: 0px;
    padding: 0.2rem 0.3rem;
    font-size: .7rem;
    font-family: inherit;
    border-radius: 0.25rem;
    background-color: var(--select-bg-color);
    color: black;
    border: none;
    outline: 0px solid transparent;

}

option{
    background-color: var(--select-bg-color);
}


.text_color{
    color: var(--text-color); 
}

.text_color_day{
    color: var(--day-color);
}

.text_color_date{
    color: var(--date-color);
}

.time_wrapper{
    position: relative;
}

#time{
    font-size: 12rem;
    text-shadow: var(--time-shadow);
}

#sec{
    position: absolute;
    bottom:40px;
    font-size: 2rem;
}

#mid{
    position: absolute;
    top: 35px;
    font-size: 3rem;
}

.day_wrapper{
    display: flex;
    position: relative;
    left: 20px;
    justify-content: space-between;
}

.day_wrapper span{
    font-size: 2rem;
    font-weight: 600;
    opacity: 0.3;
}

#showDate{
    position: relative;
    left: 20px;
    font-size: 2rem;
}

@media all and (max-width: 840px){
    #time{
        text-shadow: var(--time-shadow2);
        font-size: 6rem;
    }
    
    #sec{
        bottom:20px;
        font-size: 1rem;
    }
    
    #mid{
        position: absolute;
        top: 17px;
        font-size: 1.5rem;
    }
    
    .day_wrapper{
        left: 10px;
    }
    
    .day_wrapper span{
        font-size: 1rem;
        font-weight: 300;
    }
    
    #showDate{
        left: 10px;
        font-size: 1rem;
    }

}

@media all and (max-width: 430px){
    #time{
        text-shadow: var(--time-shadow3);
        font-size: 5rem;
    }
    
    #sec{
        bottom:15px;
        font-size: 0.9rem;
    }
    
    #mid{   

        bottom: 3.5px;
        font-size: 1rem;
    }
    
    .day_wrapper{
        left: 5px;
    }
    
    .day_wrapper span{
        font-size: 0.9rem;
        font-weight: 150;
    }
    
    #showDate{
        left: 5px;
        font-size: 0.9rem;
    }

}

@media all and (max-width: 343px){
    #time{
        text-shadow: var(--time-shadow4);
        font-size: 4rem;
    }
    
    #sec{
        bottom:15px;
        font-size: 0.9rem;
    }
    
    #mid{
        bottom: 4px;
        font-size: .9rem;
    }
    
    .day_wrapper{
        left: 5px;
    }
    
    .day_wrapper span{
        font-size: 0.75rem;
        font-weight: 150;
    }
    
    #showDate{
        left: 5px;
        font-size: 0.9rem;
    }

}

:root,
    :root.green{
        --text-color: #00ff01;
        --day-color: #02b102;
        --date-color: rgb(4, 158, 4);
        --time-shadow: 0 0 40px lime;
        --time-shadow2: 0 0 20px lime;
        --time-shadow3: 0 0 15px lime;
        --time-shadow4: 0 0 14px lime;
        --bg-color: rgb(0, 32, 0);
        --select-bg-color: rgb(1, 254, 1, .1);
    }

    :root.pink{
        --text-color: rgb(255, 52, 154);
        --day-color: hotpink;
        --date-color: rgb(214, 68, 141);
        --time-shadow: 0 0 40px rgb(250, 145, 163);
        --time-shadow2: 0 0 20px rgb(250, 135, 154);
        --time-shadow3: 0 0 15px rgb(250, 144, 162);
        --time-shadow4: 0 0 14px rgb(248, 147, 164);
        --bg-color: rgb(133, 0, 73);
        --select-bg-color: rgb(255, 52, 154, .1);
    }

    :root.red{
        --text-color: red;
        --day-color: rgb(221, 4, 4);
        --date-color: rgb(155, 11, 11);
        --time-shadow: 0 0 40px red;
        --time-shadow2: 0 0 20px red;
        --time-shadow3: 0 0 15px red;
        --time-shadow4: 0 0 14px red;
        --bg-color: rgb(63, 0, 0);
        --select-bg-color: rgb(255, 0, 0, .1);
    }


    :root.blue{
        --text-color: rgb(19, 19, 255);
        --day-color: rgb(0, 128, 255);
        --date-color: rgb(6, 6, 175);
        --time-shadow: 0 0  40px rgb(0, 25, 252);
        --time-shadow2: 0 0 20px rgb(0, 25, 252);
        --time-shadow3: 0 0 15px rgb(36, 36, 255);
        --time-shadow4: 0 0 14px rgb(36, 36, 255);
        --bg-color: rgb(0, 0, 56);
        --select-bg-color: rgb(19, 19, 255, .1);
    }

    :root.white{
        --text-color: white;
        --day-color: white;
        --date-color: white;
        --time-shadow: 0 0 40px white;
        --time-shadow2: 0 0 20px white;
        --time-shadow3: 0 0 15px white;
        --time-shadow4: 0 0 14px white;
        --bg-color: rgb(177, 175, 175);
        --select-bg-color: rgb(255, 255, 255, .1);
    }

    :root.sand{
        --text-color: rgb(244, 164, 96);
        --day-color: rgb(192, 124, 64);
        --date-color: rgb(145, 84, 30);
        --time-shadow: 0 0 40px rgb(168, 87, 29);
        --time-shadow2: 0 0 20px rgb(168, 87, 29);
        --time-shadow3: 0 0 15px rgb(168, 87, 29);
        --time-shadow4: 0 0 14px rgb(168, 87, 29);
        --bg-color: rgb(75, 37, 11);
        --select-bg-color: rgb(244, 164, 96, .1);
    }
